<footer class="bg-primary text-white p-4 flex justify-between items-center">
  <a href="index.html">
    <img src="assets/images/logo.png" alt="Cooking Contest Logo" class="h-12">
  </a>
  <nav class="flex flex-col sm:flex-row"> 
    <a href="participants.html" class="no-underline text-white my-2 sm:mx-4 sm:my-0 hover:underline hover:text-white/90">Participantes</a>
    <a href="ai.html" class="no-underline text-white my-2 sm:mx-4 sm:my-0 hover:underline hover:text-white/90">IA Web</a>
  </nav>
  <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4">
    <a href="https://facebook.com" class="block hover:text-white/90">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://twitter.com" class="block hover:text-white/90">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="https://instagram.com" class="block hover:text-white/90">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</footer>
