<div class="main-poster grid place-items-center text-center bg-cover bg-center relative min-h-screen bg-[url('/src/assets/images/back.jpg')] p-4">

  <div class="header absolute top-0 w-full bg-dark-gray">
    <include src="./views/header.html"></include>
  </div>
    
    <img src="assets/images/logo.png" alt="Cooking Contest Logo" class="w-1/2 mt-24 mb-10 min-w-[300px] block"> 

    <h1 class="text-5xl text-white mt-10 mb-6 font-bold">Concurso Anual de Cocina</h1>
    
    <p class="text-2xl text-white mt-6 mb-8 leading-loose">¡Únete y muestra tus habilidades culinarias!</p>
    
    <a href="participants.html" class="btn-custom">Leer Más</a>
</div>